- title "Invoice for #{@invoice.title}"

%p
  %strong Title:
  = @invoice.title
%p
  %strong Description:
  = @invoice.description
%p
  %strong Amount:
  = @invoice.amount
%p
  %strong Date:
  = @invoice.date

%p.paid
  %strong Paid?
  - unless @invoice.paid?
    = link_to "Pay Now", user_payment_path(@user, @invoice)
  - else
    Paid

%p
  = link_to "Back", user_path(@user)