= form_for @user, :url => user_activation_path do |f|
  = hidden_field_tag :signup_token, @user.signup_token

  = f.error_messages
  %p
    = f.label :password
    %br
    = f.password_field :password
  %p
    = f.label :password_confirmation, "Confirm Password"
    %br
    = f.password_field :password_confirmation
  %p
    = f.button (@user.new_record? ? "Sign up" : "Submit")