- content_for :top_of_head do
  = javascript_include_tag "https://js.stripe.com/v1/"
  = tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY

- title "Activate Account"

%p Welcome to Simple Billing, the place where you can simply manage your invoices. Please activate your account by creating a secure password below and entering your billing information. 
-if @user.invoices.present?
  Once you have done that you will be prompted to approve payment of your invoices like the one for #{@user.invoices.first.title} at #{number_to_currency @user.invoices.first.amount}

= render 'activation_form'

#stripe_error
  %noscript JavaScript is not enabled and is required for this form. First enable it in your web browser settings.