- title "Dashboard for #{@user.username}"

%p
  %strong Name:
  = @user.username
%p
  %strong Email:
  = @user.email
%section.invoices
  %header
    %h3 
      Invoices
  = render partial: 'invoices_table', locals: { invoices: @user.invoices, user: @user }
%p
  = link_to "Edit", edit_user_path(@user)
  |
  = link_to "Destroy", [:admin, @user], :confirm => 'Are you sure?', :method => :delete