- title "Dashboard for #{@user.username}"

%p
  %strong Name:
  = @user.username
%p
  %strong Email:
  = @user.email

- if @user.has_card?
  %h3 Card on file
  .card_info
    %p.card_type
      %strong Card Type:
      =@user.stripe_card_type
    %p.card_digits
      %strong Card Number:
      **** **** **** #{@user.stripe_card_digits}
    %p.card_expiry
      %strong Card Expiry:
      = @user.stripe_card_expiry
  
- else
  %h3 No Card on File

%section.invoices
  %header
    %h3 
      Invoices
  = render partial: 'invoices_table', locals: { invoices: @user.payable_invoices, user: @user }
%p
  = link_to "Edit", edit_user_path(@user)
