%table
  %tr
    %th Name
    %th Email
    %th Actions
  - for user in users
    %tr{id: "user_#{user.id}"}
      %td= user.username
      %td= user.email
      %td
        = link_to 'Show', [:admin, user]
        = link_to 'Edit', edit_admin_user_path(user)
        - if logged_in? && user != current_user
          = link_to 'Destroy', [:admin, user], :confirm => 'Are you sure?', :method => :delete
        - if user.signup_token
          = link_to 'Activation link', user_confirmation_url(user.signup_token)