- title "Admin for #{@user.username}"

%p
  %strong Name:
  = @user.username
%p
  %strong Email:
  = @user.email
%p
  = link_to "Add Invoice", new_admin_user_invoice_path(@user)
%p
  = link_to "Edit", edit_admin_user_path(@user)
  |
  = link_to "Destroy", [:admin, @user], :confirm => 'Are you sure?', :method => :delete
